@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --font-body: "Raleway", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-headline: "Playfair Display", Georgia, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --black: #2d2d2d;
  --cream: #f4efe6;
  --pearlJam: #eceadf;
  --white: #fffcf6;
  --purple: #c583ff;
  --orange: #f36d00;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-headline);
  font-size: clamp(2rem, 5vw, 3rem);
  margin: 0;
}

h2 {
  font-family: var(--font-body);
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  max-width: 25ch;
  margin: 0;
}

h3 {
  font-family: var(--font-body);
  font-size: clamp(1.25rem, 2vw, 2rem);
}

h4 {
  font-family: var(--font-body);
  font-size: clamp(1.1rem, 1.2vw, 1.2rem);
  margin: 0;
  max-width: 50ch;
  font-weight: 500;
}

h5 {
  font-family: var(--font-body);
  font-size: clamp(1.1rem, 2vw, 2.5rem);
  margin: 0;
}

p {
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  max-width: 35ch;
}

a {
  font-family: var(--font-body);
  font-weight: 500;
  text-decoration: inherit;
}

button {
  background-color: var(--orange);
  font-size: clamp(0.9rem, 1vw + 0.5rem, 1rem);
  font-family: var(--font-body);
  min-height: clamp(35px, 3vw, 35px);
  min-width: clamp(100px, 10vw, 100px);
  margin-top: 1.5vh;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  z-index: 1000;
  align-self: flex-start;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

body {
  background-color: var(--cream);
  font-family: var(--font-body);
  color: var(--black);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
