.case_company {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 180px;
  padding: 18px;
}

.case_company p {
  margin: 0;
  color: var(--white);
  z-index: 100;
  font-size: 14px;
}

.case_company p a {
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
  line-height: 1.4;
}

.case_company h3 {
  font-size: 22px;
  color: var(--white);
  margin: 0;
  z-index: 100;
}

.project_link {
  color: var(--cream);
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1000;
  transition: transform 0.3s ease;
}
.case_container {
  display: block;
  text-decoration: none;
  color: var(--black);
  background-image: var(--bg-small);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}
