.section_wrapper {
  background-color: var(--cream);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_img_wrapper {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pearlJam);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.contact_img_wrapper img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  display: block;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.text_container p {
  margin: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: var(--DarkGreen);
  font-weight: bold;
}

.contact_button_wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
}

.contact_button {
  width: 225px;
  height: 40px;
  background-color: var(--purple);
}

.contact_button a {
  color: var(--black);
}

@media (min-width: 768px) {
  .contact_button_wrapper {
    flex-direction: row;
    gap: 24px;
  }
}
