footer {
  width: 100%;
  background-color: var(--pearlJam);
  color: var(--black);
  display: flex;
  justify-content: center;
}

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 30px;
}

.container_div {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container_div h4 {
  text-align: start;
  margin: 0;
  padding: 0;
  font: 0.8rem;
}

.container_div ul {
  text-align: start;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--black);
}

.container_div ul li a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1rem;
  color: var(--black);
}

@media (min-width: 768px) {
  .footer_container {
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }

  .container_div {
    width: 20%;
  }
}
