.navbar {
  width: 90%;
  height: 4rem;
  padding: 2%;
  background: var(--purple);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.hamburger {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 2px;
  transition: all 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Menu */
.nav-links {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #333;
  border-radius: 16px;
  display: none;
  flex-direction: column;
  padding: 1rem 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.nav-links.show {
  display: flex;
}

.nav-links li {
  text-align: center;
  border-bottom: 1px solid #444;
}

.nav-links li a {
  display: block;
  padding: 0.75rem 0;
  color: white;
  text-decoration: none;
}

.nav-links li a:hover {
  background: #444;
}

@media (min-width: 768px) {
  .navbar {
    width: 70%;
  }

  .nav-links {
    width: 35%;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    background: #333;
    flex-direction: column;
    display: none;
  }
}
