.navbar {
  width: 100%;
  height: 4rem;
  padding: 4%;
  background: var(--purple);
  color: var(--cream);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--cream);
}

.hamburger {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: var(--cream);
  border-radius: 2px;
  transition: all 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 10px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -10px);
}

.nav-links {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 16px;
  background: var(--black);
  display: none;
  flex-direction: column;
  padding: 1rem 0;
  overflow: visible;
  z-index: 1000;
}

.nav-links.show {
  display: flex;
}

.nav-links li {
  text-align: center;
}

.nav-links li a {
  display: block;
  padding: 0.75rem 0;
  color: var(--cream);
  text-decoration: none;
}

.nav-links li a:hover {
  background: var(--purple);
}

@media (min-width: 768px) {
  .navbar {
    width: 80%;
    padding: 2%;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .nav-links {
    width: 35%;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    flex-direction: column;
    display: none;
  }
}

@media (min-width: 1024) {
  .navbar {
    width: 70px;
  }
}
